<%- include("partials/header") %>

    <br>
    <br><br>
<div class="alert alert-warning">
    <h1> Invalid Transaction </h1>
    <h1>Sorry for the inconvenience</h1>
</div>



<!-- <div class="inner">
    <div class="content">
        <div class="close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                </path>
                <path d="M0 0h24v24H0z" fill="none">
                </path>
            </svg>
        </div>
        <div class="port">
            <div class="head">
                <p class="title">Nice alert!</p>
            </div>
            <div class="inner-container">
                <p class="content">This is my content</p>
            </div>
        </div>
    </div>
</div> -->

<!-- <%- include("partials/footer") %>


app.get("/customers/:id", async(req, res) =>{
    const { id } = req.params;
    const users = Customermodel.find({} , function(err,data){
        if(err){
            console.log(err);
        }else{
            return data;
        }
    })
    const user = Customermodel.findById(id , function(err,data1){
        if(err){
            console.log(err);
        }else{
            return data1;
        }
    })
    console.log(user);
    res.render("transfer", {user: user , users: users});
}); -->